.button
{
    -fx-background-color: #35889a;
    -fx-cursor: hand;
}

.textfield:focused
{
    -fx-faint-focus-color: #4aabc0;
}

.textfield-none:focused
{
    -fx-faint-focus-color: transparent;
    -fx-focus-color: rgba(74,171,192,0.2);

}